#head-container {
    margin-top: 1%; 
    background: none;
  }
  
  .jumbotron {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 7px;    
    background: none;
  }
  
  #head {
    text-align: center;
    color: Black;
    padding: 2%;
    background: none;
  }

  h1 {
    font-size: 80px;
    padding-bottom: 1%;
  }
  
  h2 {
    font-size: 65px;
  }

  * {
    box-sizing: border-box;
  }